

.input-group{
    position: relative;
    width: 350px;
    margin: auto;
}

.bg-image{
    background-size: cover;
    min-height: 40vh;
}


.forgotp{
    text-decoration: none;
}

body{
    background: #eee;
}


.topbar{
    display: fixed;
    min-height: 100vh;
    width: 100%;
}

/* stundent html */

hr.h-color{
    color: #eee;
}

.sidebar-container{
    position: fixed;
    max-width: 300px;
    height: 100%;
    
}

.sidebar{
    transition: 0.4s;
}

.sidebar li:hover{
    background: #928aff;
    border-radius: 8px;
}

.sidebar li a:hover{
    color: black;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #000000;
}

.sidebar li a{
    color: #eee;
}

.container-main{
    padding-left: 300px;
}

/* banner */


.logo-sm{
    width: 70px;
}

.fbbldga{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* MYPROFILE */

.wrapper{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.profile-pic{
    border: solid #eee;
}

@media(max-width: 768px){
    #side_nav{
        margin-left: -300px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active{
        margin-left: 0;
    }

    .container-main{
        padding-left: 0;
    }

    .topcornerdpd{
        display: none;
    }

}



@media(max-width: 575px){
    .studentart{
        display: none;
    }
}